*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target
*dependency-reduced-pom.xml

# IDEA
.idea
.idea_modules
*.iml

# Eclipse
.settings
.project
.classpath
.checkstyle
test-output

# Mac
.DS_Store

# Linux
*~

#backup pom
release/pom.xml.versionsBackup